<h1 class="page-title">GitHub Users</h1>
<div class="toggle-container">
  <mat-slide-toggle (change)="onToggleChange($event)">
    <span *ngIf="selectedTab === paginationType.Pagination">Pagination Mode</span>
    <span *ngIf="selectedTab === paginationType.Infinite">Infinite Scroll Mode</span>
  </mat-slide-toggle>

</div>
<div *ngIf="!loading">
  <div *ngIf="selectedTab === paginationType.Pagination" class="scroll-container">
    <a
      *ngFor="let user of users"
      [routerLink]="['/users', user.login]"
      [state]="{ user }"
      class="user-card"
    >
      <img [src]="user.avatar_url" alt="User Avatar" />
      <p>{{ user.login }}</p>
    </a>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="pagination-buttons">
      <button mat-button (click)="goToFirstPage()" [disabled]="pageNumber === 1">First</button>
      <button mat-button (click)="goToPreviousPage()" [disabled]="pageNumber === 1">Previous</button>
      <button mat-button (click)="goToNextPage()">Next</button>
    </div>
  </div>
</div>
<div
  *ngIf="selectedTab === 'infinite'"
  class="scroll-container"
  (scroll)="onScroll($event)"
>
  <a
    *ngFor="let user of users"
    [routerLink]="['/users', user.login]"
    [state]="{ user }"
    class="user-card"
  >
    <img [src]="user.avatar_url" alt="User Avatar" />
    <p>{{ user.login }}</p>
  </a>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
<div *ngIf="loading" class="spinner"></div>
